name: Test FUNC

on:
  pull_request:
    types: [opened, synchronize, reopened]
    branches:
      - main
    paths:
      - "src/func/**"
  workflow_dispatch:

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python version
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          version: "0.5.13"

      - name: Install dependencies
        run: |
          cd src/func
          uv sync

      - name: Run tests
        env:
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
          COSMOS_DB_ACCOUNT_URL: "hogehoge"
          COSMOS_DB_ACCOUNT_KEY: "hogehoge"
          LINE_USER_ID: "hogehoge"
          SPAN_DAYS: "1"
          LANGCHAIN_PROJECT: "LINE-AI-BOT-TEST"
        run: |
          cd src/func
          uv run pytest -s
